

:root {
    ---color-primary:#E3DFDC;
    ---secondary-color:#fff;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jumbotron{
    background-color: darkgray;
    width: 100%;
    height: 80vh;
}
@media (max-width: 890px) {
    #navbarSupportedContent{
        flex-direction: column;
        animation-duration: 4s;
    }
    .btn-nav{
        margin-top: 2rem;
    }
}
.row .img {
    height: 50px;
    width: 12rem;
}
.color-nav{
    background-color: var(---color-primary);
}
.color-sec{
    background-color: var(---secondary-color);
}
.color-primary{
    background-color: var(---color-primary);
}
.btn-color{
    background-color: var(---secondary-color);
    color: var(---color-primary);
}