*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jumbotron{
    background-color: darkgray;
    width: 100%;
    height: 80vh;
}
@media (max-width: 890px) {
    #navbarSupportedContent{
        flex-direction: column;
        animation-duration: 4s;
    }
    .btn-nav{
        margin-top: 2rem;
    }
    .jumbotron{
        display: flex;
        flex-direction: column-reverse;
    }
}
.img{
    height: 50px;
}